html {
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --light-color: rgb(194, 0, 0);
    ---dark-color: rgba(178, 34, 34, 0.13);
    --small-margin: 8px;
    --big-margin: 16px;
}

main {
    max-width: 750px;
    margin: 80px auto 0;
    border: 1px solid var(--light-color);
}

#display, #result {
    font-size: 1.25rem;
    text-align: right;
    line-height: 48px;
    margin-right: var(--big-margin);
}

#result {
    padding-right: var(--big-margin);
    border-radius: var(--small-margin);
    margin-bottom: var(--big-margin);
    margin-inline: var(--small-margin);
    background-color: var(--light-color);
}

#inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 var(--small-margin) var(--big-margin);
}

button {
    font-size: 1.25rem;
    color: white;
    border-radius: var(--small-margin);
    margin: 0 var(--small-margin) var(--small-margin) ;
    border: none;
    background-color: var(---dark-color);
    transition: background-color 300ms;
}

button:hover {
    background-color: var(--light-color);
}

button:active {
    box-shadow: 0 0 10px 2px rgba(97,0,0,0.75) inset;
}