html {
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --light-color: rgb(194, 0, 0);
    ---dark-color: rgba(178, 34, 34, 0.13);
    --small-margin: 8px;
    --big-margin: 16px;
}

main {
    width: clamp(300px, 50%, 600px);
    margin: 80px auto 0;
    border: 1px solid var(--light-color);
}

#display, #result {
    font-size: 1.25rem;
    text-align: right;
    line-height: 48px;
    margin-right: var(--big-margin);
}

#result {
    padding-right: var(--big-margin);
    border-radius: var(--small-margin);
    margin-bottom: var(--big-margin);
    margin-inline: var(--small-margin);
    background-color: var(--light-color);
}

#inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--small-margin);
    margin: 0 var(--small-margin) var(--big-margin);
}

#equal {
    grid-row: span 2;
}

button {
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
    border-radius: var(--small-margin);
    /* margin: 0 var(--small-margin) var(--small-margin) ; */
    /* border: none; */
    /* background-color: var(---dark-color); */
    transition: background-color 300ms;


    /* NEON TEST */
    background-color: transparent;
    border: var(--light-color) 0.125em solid;

    text-shadow:
        0 0 0.125em hsl(0, 0%, 100%),
        0 0 0.5em var(--light-color);
        box-shadow: 
            inset 0 0 0.5em 0 var(--light-color),
            0 0 0.5em 0 var(--light-color);
}

button:hover {
    background-color: var(--light-color);
    
}

button:active {
    box-shadow: 0 0 10px 2px rgba(97,0,0,0.75) inset;
}